
<div class = "center jumbotron">
<h1>Listing Todo Items</h1>
</div>

<div class = "container">
    <h2>  
     
 
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td>Due date:</td>	<%= todo_item.due_date %><br>
        <td>Title:</td>	<%= todo_item.title %><br>
        <td>Description:</td	>	<%= todo_item.description %><br>
        <td>Completed:</td>	<%= todo_item.completed %><br>
        <%= link_to 'Show', todo_item %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<br>

<%= link_to 'New Todo item', new_todo_item_path %>
</div>
</h2>
